<form id="pagerForm" method="post" action="{$Think.MODULE_NAME}/{$Think.CONTROLLER_NAME}">
	<input type="hidden" name="status" value="${param.status}">
	<input type="hidden" name="keywords" value="${param.keywords}" />
	<input type="hidden" name="pageNum" value="1" />
	<input type="hidden" name="numPerPage" value="${model.numPerPage}" />
	<input type="hidden" name="orderField" value="${param.orderField}" />
</form>
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<?php foreach($menu as $v)
			{
			?>
			<li>
				<a class="{$v.action_name}" 
					href="/admin/{$v.module_name}/{$v.action_name}{$v.data}" target="navTab">
					<span>{$v.name}</span></a>
				</li>
			<?php 
			}
			?>
		</ul>
	</div>
	<table class="table" width="100%" layoutH="75" id="table_{$Think.MODULE_NAME}_{$Think.CONTROLLER_NAME}">
		<thead>
			<tr>
				<th width="80" orderField="id"></th>
				<th width="120" orderField="name">角色组</th>
				<th>说明</th>
				<th width="80">排序</th>
				<th width="80"></th>
			</tr>
		</thead>
		<tbody>

{volist name="list" id="vo"}
			<tr target="sid_user" rel="1">
				<td>{$vo.id}</td>
				<td>{$vo.name}</td>
				<td>{$vo.remark}</td>
				<td>{$vo.ordid}</td>
				<td>{$vo.status=='1' ? '正常' : '禁用'}</td>
			</tr>
{/volist}
		</tbody>
	</table>
	<div class="panelBar">
		<div class="pages">
			<span>显示</span>
			<select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value})">
				<option value="20">20</option>
				<option value="50">50</option>
				<option value="100">100</option>
				<option value="200">200</option>
			</select>
			<span>条，共${totalCount}条</span>
		</div>
		<div class="pagination" targetType="navTab" totalCount="200" numPerPage="20" pageNumShown="10" currentPage="1"></div>
	</div>
</div>
<script>
$('#example3').Tabledit({
    url: 'example.php',
    editButton: false,
    deleteButton: false,
    hideIdentifier: true,
    columns: {
        identifier: [0, 'id'],
        editable: [[2, 'firstname'], [3, 'lastname']]
    }
});
</script>
