<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=750px, initial-scale=0.48, maximum-scale=1">
	<title>Document</title>
	<link rel="stylesheet" href="/style/style.css">
</head>
<body>
<div class="avatar" style="overflow:hidden"><img src="" width="133" height="133"></div>
<div class="input_block">
	<div class="ico"><img src="/images/ico_1.jpg" alt=""><img src="/images/ico_2.jpg" alt=""></div>
	<input class="input input_t" value="{$patient_name}"  readonly/>
	<input class="input input_b" value="{$case_id}" readonly />
</div>
<frame src="zrggnaodianbo://naodianbo.app/?dir=<?php echo $dir?>" />
<a class="submit" href="zrggnaodianbo://naodianbo.app/?dir=<?php echo $dir?>" onClick="show()">启动</a>
<div class="down" id="aaaa" style="display:none">
	<a href="http://www.pgyer.com/2Mp9">苹果<br>下载</a>
	<a href="/app.apk" style="float: right;">安卓<br>下载</a>
</div>
<script>
function show()
{
	var aaaa=window.document.getElementById("aaaa");
	aaaa.style.display="block"; 
}
</script>
</body>
</html>